.navigation {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.mainLogoHomeBtn {
  width: 10%;
  height: 100% ;
  padding-right: 15px;
}

.leftNav {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.leftNav > div {
  padding: 20px;

}

.leftNav > div:hover {
  color: pink;
  font: 600;
  cursor: pointer;
  
}

.shoppingBagIcon {
  height: 50%;
  width: 40%;
}

.shoppingBagIconC {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
